<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>About Planet Grep</title>
		<link rel="stylesheet" href="style.css" type="text/css">
		<link rel="icon" href="grepicon.png" type="image/png">
		<link rel='alternate' type='application/rss+xml' title='Planet Grep - RSS 1.0' href='http://planet.grep.be/rss10.xml'>
		<link rel='alternate' type='application/rss+xml' title='Planet Grep - RSS 2.0' href='http://planet.grep.be/rss20.xml'>
	</head>
  <body>
		<div id='head'>
			<div class='titel'>Planet Grep</div>
			<div class="subtitel">Planet'ing Belgian FLOSS people</div>
			<div class="maintained">Planet Grep is maintained by <a href='mailto:wouter+planet@grep.be'>Wouter Verhelst</a>. All times are in UTC.</div>
			<div id="geel">&nbsp;</div>
			<div id="zwart">&nbsp;</div>
			<div id="rood">&nbsp;</div>
			<div id="headline">&nbsp;</div>
			<div id="headshadow">&nbsp;</div>
		</div>
		<div id='headspacer'>&nbsp;</div>
		<div id="content-about">
    <h1>About Planet Grep</h1>
    <p>Planet Grep is the Belgian Free/Open Source <a href="http://www.planetplanet.org">planet</a>. A 'planet' is a website that aggregates blogs into a 'stream of news' type	of site. There are many such planets that aggregate many	different blog collections; an overview is given at <a href="http://www.planet-index.org">the Planet-index</a>, in case you want another.</p>
		<p>Planet Grep is maintained by Wouter Verhelst and Kris Buytaert, and runs (in DNS round-robin) on one server hosted by <a href='http://www.nixsys.be'>NixSys BVBA</a> and a second hosted by <a href='http://christophe.vandeplas.com'>Christophe Vandeplas</a>.</p>
		<p>In adding blog feeds to the planet, we currently follow the following set of guidelines:</p>
			<ul>
				<li>A planet is a website to promote a <em>community</em>, rather than a technology or some such. Therefore, it should be clear that Planet Grep is a website about <em>people</em> involved in Free and Open Source software, rather than Free and Open Source software <em>itself</em>. As a result, Planet Grep is open to people who 'work with or participate to free and open source software', which is not necessarily the same thing as 'people who <em>write about</em> free and open source software' (although it may be).</li>
				<li>Planet Grep is not a 'tomorrow's newspaper headers' item on the late night radio news; rather, it should be a fully-functional webpage with good content that can be read independently. Therefore, Planet Grep prefers not to run blog feeds that contain only so-called 'teasers'. That's not to say you can't have an occasional teaser on your blog and still be on Planet Grep; but the <em>default</em> should be to have no teasers, rather than the other way around.</li>
			</ul>
		</div>
	</body>
</html>
