body {
	color: #333;
	font-family: "DejaVu Sans", "Bitstream Vera Sans", Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

p, h1, h2, h3, h4 {
	margin: 1em 0;
	padding: 0;
}

h1 {
	background-color: #EEE;
	color: #333;
	margin-bottom: .5em;
	padding: .2em 0;
	padding-left: .2em;
	font-size: 1.4em;
}

h2 {
	padding-bottom: 5px;	
	border-bottom: 1px solid  #333;
}

.subscriptions h2 {
	border: none;
}

p {
	margin-top: 0.5ex;
}

hr {
	background-color: #999;
	border: none;
	color: #999;
	height: 1px;
	margin: 20px 20px 0 20px;
}

/* Containers */
#content {
	margin: 0 20px;
	width: 67%;
}

#content-about {
	margin: 0 20px;
}

/* Links */
a:link {
	color: #000;
	text-decoration: underline;
}
a:visited {
	color: #666;
	text-decoration: underline;
}
a:hover {
	color: #C60000;
	text-decoration: none;
}

/* Content of post */

.date {
	margin: 20px 0 10px 0;
}

.caption {
	background-color: #FFD600;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-left: 20pt;
	padding-bottom: 0px;
	height: 30pt;
}

.author_name {
	margin: 0;
	padding: 5px 10px;
	font-size: 120%;
}

.author_name a {
	text-decoration: none;
	color: #C60000;
}

.author_name a:visited {
	color: #C60000;
}

.author_name a:hover {
	text-decoration: none;
	color: #FF0000;
}

.article_title {
	margin: 15px 0 10px 10px;
}

.article_title a {
	color: #000;
	text-decoration: none;
}

.article_title a:visited {
	color: #666;;
}

.article_title a:hover {
	color: black;
	text-decoration: underline;
}

.article {
	margin-left: 11px;
	font-size: 90%;
}

.article_footer {
	text-align: right;
	font-size: 70%;
	margin-top: 5px;
	border-bottom: 1px solid #CECECE;
	
}
.article_footer a:link {
	text-decoration: none;
	color: #666;
}
.article_footer a:visited {
	text-decoration: none;
	color: #666;
}
.article_footer a:hover {
	text-decoration: underline;
	color: #999;
}

.subscriptions {
	width: 25%;
	margin: 0 10px 0 20px;
	float: right;
	background-color: #F9F9F9;
	padding: 5px;
	border: 1px solid #CECECE;
	font-size: 0.8em;
	color: #333;
}

.subscriptions ul {
	padding-left: 15px;
	list-style-type: square;
}

.subscriptions ul a:link, ul a:visited {
	color: #333;
	text-decoration: none;
	font-weight: normal;
}

.subscriptions ul a:hover {
	color: #CC0000;
	text-decoration: underline;
}

/* Header */

#head {
	width: 100%;	
	height: 105px;
}	

#zwart {
	position: absolute;
	left: 0;
	width: 33%;
	height: 100px;
	top: 0;
	background-color: #000;
}

#geel {
	position: absolute;
	left:33%;
	width: 34%;
	height: 100px;
	top: 0;
	background-color: #FFD600;
}

#rood {
	position: absolute;
	left: 67%;
	width: 33%;
	height: 100px;
	top: 0;
	background-color: #C60000;
}

.titel {
	position: absolute;
	top: 5px;
	left: 20px;
	color: #FFF;
	font-size: 2.5em;
	font-weight: bold;
	z-index: 1;
}
.subtitel {
	position: absolute;
	top: 50px;
	left: 20px;
	color: #FFF;
	font-size: 1em;
	z-index: 1;
}

.maintained {
	position: absolute;
	top: 80px;
	left: 20px;
	color: #FFF;
	font-size: 0.7em;
	z-index: 1;
}

.maintained a:link, .maintained a:visited {
	color: #FFF;
	text-decoration: underline;
}

.maintained a:hover {
	color: #CCC;
	text-decoration: none;
}

/*
#headline {
	position: absolute;
	width: 100%;
	height: 1px;
	top: 100px;
	background-color: #666;
}
*/

#headshadow {
	position: absolute;
	width: 100%;
	height: 5px;
	top: 100px;
	background-color: #CECECE;
	background-image: url("shadow.png");
	
}
#headspacer {
	top: 0;
	height: 10px;
}

.hackergotchi {
	float: right;
}

/* Footer */

.footer {
	padding-left: 20px;	
	color: #999;
	font-size: .8em;
}
